<table style="border: 2px solid purple;">
    <tr>
        <td><img src="{{site.baseurl}}/images/logo.png" height="60" title="Tools" alt=""></td>
        <td><a href="{{site.baseurl}}/devops/tools/home" style="color: purple;">Home</a></td>
        <td><a href="{{site.baseurl}}/snake" style="color: purple;">Snake</a></td>
        <td><a href="{{site.baseurl}}/ideas" style="color:purple;">Ideas</a></td>
        <td><a href="{{site.baseurl}}/calculator" style="color:purple;">Calculator</a></td>
        <td><a href="{{site.baseurl}}/cookieclicker" style="color:purple;">Cookie Clicker</a></td>
        <td><a href="{{site.baseurl}}/wordle" style="color:purple;">Wordle</a></td>
    </tr>
</table>